@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: 
      url("../fonts/pt-sans-v9-latin_cyrillic-regular.woff2"),
      url("../fonts/pt-sans-v9-latin_cyrillic-regular.woff"); 
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: 
      url("../fonts/pt-sans-v9-latin_cyrillic-700.woff2"),
      url("../fonts/pt-sans-v9-latin_cyrillic-700.woff"); 
}

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    
    outline: 4px solid blue;/*временно*/
}

.main-navigation {
    position: relative;
    font-size: 14px;
    line-height: 26px;
}

.main-header-logo {
    position: absolute;
    width: 138px;
    height: 70px;
    left: 531px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    
    padding: 15px 72px;
    
    list-style: none;
    
    outline: 4px solid green;/*временно*/
}

.site-navigation li {
    width: 128px;
    
    outline: 4px solid yellow;/*временно*/
}

.site-navigation .menu-information {
    margin-right: 112px;
}

.site-navigation .menu-foto {
    margin-right: 320px;
}

.site-navigation .menu-map {
    margin-right: 112px;
}

.site-navigation a {
    font-weight: 700;
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #cacaca;
}

.header3 {
    font-size: 21px;
    line-height: 21px;
}

.presentation {
    min-height: 520px;
    margin: 0 auto;
    
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    background-color: #b28175;
    
    outline: 4px solid red;/*временно*/
}

.presentaion-img {
    padding-top: 77px;
    padding-left: 370px;
}

.reasons {
    min-height: 154px;
    padding-top: 120px;
    
    outline: 4px solid red;/*временно*/
}

.header3-town {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    
    margin: 0;
    padding:0;
}

.reasons-5 {
    margin: 0;
    padding:0;
    text-align: center;
}

.reason-item {
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffffff;
    
    background-color: #81b3d2;
    
    outline: 6px solid green;/*временно*/
}

.reason-item-1 {
    width: 400px;
    padding: 50px 60px;
    text-align: center;
}

.reason-img {
    width: 800px;
    min-height: 255px;
    background-color: #b28175;
    
    outline: 6px solid pink;/*временно*/
}

.town {
    background-image: url("../img/town.jpg");
    background-repeat: no-repeat;
}

.benefits {
    width: 100%;
    
    outline: 4px solid red;/*временно*/
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0;
    padding: 0;
    
    list-style: none;
    
    outline: 10px solid yellowgreen;/*временно*/
}

.benefits-item {
    width: 400px;
    padding: 45px 60px;
    text-align: center;
    
    outline: 4px solid yellow;/*временно*/
}

.bridge {
    background-image: url("../img/bridge.jpg");
    background-repeat: no-repeat;
}

.other-reasons {
    width: 100%;
    background-color: #eeeeee;
    
    outline: 4px solid red;/*временно*/
}

.other-reasons-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    
    list-style: none;
    
    outline: 10px solid yellowgreen;/*временно*/
}

.other-reasons-item {
    width: 400px;
    padding: 45px 70px;
    text-align: center;
    
    outline: 4px solid yellow;/*временно*/
}

.interested-in {
    width: 100%;
    min-height: 290px;
    
    outline: 4px solid red;/*временно*/
}

.interested-in h2 {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.interested-in-title {
    line-height: 24px;
    text-align: center;
}

.button {
    font: inherit;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    
    border: none;
}

.interested-in-button {
    font-size: 21px;
    line-height: 26px;

    color: #ffffff;
    
    background-color: #766357;
}

.interested-in-button:hover,
.interested-in-button:focus {
    background-color: #604e43;
}

.interested-in-button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.interested-in-form {
    width: 575px;
    outline: 4px solid pink;
}

.interested-in-item {
    font-weight: 700;
    line-height: 26px;
}

.interested-in-item input {
    font-weight: 700;
    line-height: 26px;
    
    background-color: #f2f2f2;
    border: none;
}

.interested-in-item input::-ms-input-placeholder {
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    
    text-transform: uppercase;
}

.interested-in-item input:-ms-input-placeholder {
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    
    text-transform: uppercase;
}

.interested-in-item input::-moz-placeholder {
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    
    text-transform: uppercase;
    
    opacity: 1;
}

.interested-in-item input::placeholder {
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    
    text-transform: uppercase;
}

.interested-in-item input:hover {
    background-color: #ebebeb;
}

.interested-in-item input:focus {
    outline: none;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.button-simbol {
    font-size: 28px;
    line-height: 26px;
    color: #a9a9a9;
        
    background-color: #f2f2f2;
}

.button-simbol:hover,
.button-simbol:focus {
    color: #000000;
}

.button-simbol:active {
    color: #81b3d2;
}

.button-find{
    color: #ffffff;
    
    background-color: #81b3d2;
}

.button-find:hover,
.button-find:focus {
    background-color: #669ec0;
}

.button-find:active {
    color: rgba(148, 185, 210, 0.3);
    
    background-color: #5496bd;
}

.map {
    width: 1200px;
    min-height: 474px;
    background-color: #cbdda9;
    
    outline: 4px solid red;
}

.map-img {
    margin: 0;
    padding: 0;
}

.main-footer {
    color: #000000;
    text-transform: uppercase;
    
    background-color: rgba(255, 255, 255, 0.3);
    
    padding: 40px 0;
}

.main-footer .footer-container {
    display: flex;
    justify-content: space-around;
    
    outline: 4px solid red; /*временно*/
}

.hashtag {
    width: 300px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
     
    outline: 6px solid yellow; /*временно*/
}

.social {
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
    
    outline: 6px solid yellow; /*временно*/
    min-height: 50px; /*временно*/
}

.copyright {
    width: 300px;
    line-height: 26px;
    margin: 0;
    text-align: center;
    
    outline: 6px solid yellow; /*временно*/
}

.site-navigation-current a {
    color: #766357;
}

.filters {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    
    padding-top: 30px;
    padding-bottom: 32px;
    
    background-image: url("../img/filter_background.jpg");
    background-repeat: no-repeat;
    background-color: #6f7279;
    
    outline: 6px solid red; /*временно*/
}

.filters-form {
    display: flex;
    justify-content: space-around;
    
    margin: 0;
    padding: 0;
}

.filters-form-fieldset {
    width: 190px;
    
    margin: 0;
    padding: 0;
        
    min-height: 160px; /*временно*/
    outline: 6px solid yellow; /*временно*/
}

.filters-range {
    width: 328px;
    
    outline: 6px solid yellow; /*временно*/
}

.filters-form fieldset{
    border: none;
}

.filters-form legend{
    font-size: 16px;
    font-weight: 700;
    
    margin: 0;
    padding: 0;
}

.filters-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filters-range {
    width: 350px;
}

.filters-range span {
    font-size: 16px;
    font-weight: 700;
}

.filters-range input::-ms-input-placeholder {
    color: #ffffff;
    
    text-transform: uppercase;
}

.filters-range input:-ms-input-placeholder {
    color: #ffffff;
    
    text-transform: uppercase;
}

.filters-range input::placeholder {
    color: #ffffff;
    
    text-transform: uppercase;
}

.filters-range-input {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.filters-button {
    font-weight: 400;
    color: #ffffff;
    
    background: transparent;
    border: 2px solid #ffffff;
}

.result {
    display: flex;
        
    outline: 6px solid pink;/*временно*/
}

.result-counter {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    
    margin: 0;
    padding: 0;
    margin-left: 72px;
    margin-right: 50px;
    
    outline: 2px solid pink;/*временно*/
    min-height: 50px;
}

.result-name {
    font-size: 12px;
    line-height: 18px;
    
    margin: 0;
    padding: 0;
    margin-right: 39px;
    
    outline: 2px solid green;/*временно*/
}

.result-links {
    display: flex;
    width: 356px;
    justify-content: space-between;
    font-size: 12px;
    line-height: 18px;
    
    list-style: none;
    
    margin: 0;
    padding: 0;
    
    outline: 2px solid pink;/*временно*/
}

.result-links a {
    color: #cacaca;
    
    border-bottom: 1px dotted #81b3d2;
}

.result-links a:hover,
.result-links a:focus {
    color: #81b3d2;
    
    border-bottom: 1px dotted #81b3d2;
}

.result-links a:active {
    color: #000000;
    
    border-bottom: none;
}

.result-links-current a{
    color: #81b3d2;
    
    border-bottom: none;
}

.result-rows {
    width: 240px;
    
    margin: 0;
    padding: 0;
    margin-right: 72px;
    margin-left: auto;
    
    outline: 2px solid pink;/*временно*/
}

.result-view {
    width: 1200px;
}

.result-view-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
    
    outline: 6px solid pink;/*временно*/
}

.result-view-item {
    display: flex;
        
    padding: 22px 73px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    
    outline: 6px solid pink;/*временно*/
}

.result-view-item:last-child {
    margin-right: 0;
}

.result-img {
    width: 135px;
    height: 90px;
    
    margin-right: 30px;
    
    outline: 6px solid yellow;/*временно*/
}

.result-hotel {
    width: 265px;
    
    outline: 6px solid yellow;/*временно*/
}

.stars {
    width: 240px;
    margin-left: auto;
    
    outline: 6px solid yellow;/*временно*/
}

.amara {
    background-image: url("../img/amara.jpg");
    background-repeat: no-repeat;
    background-color: #9c2439;
}

.desert {
    background-image: url("../img/desert.jpg");
    background-repeat: no-repeat;
    background-color: #bc9d8f;
}

.villas {
    background-image: url("../img/villas.jpg");
    background-repeat: no-repeat;
    background-color: #9eb468;
}

.result-stars {
    list-style: none;
}

.result-view-item a {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.result-view-item-book a {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.result-view-item-book a.about {
    background-color: #81b3d2;
}

.result-view-item-book a:hover.about,
.result-view-item-book a:focus.about {
    background-color: #669ec0;
}

.result-view-item-book a:active.about {
    color: rgba(148, 185, 210, 0.3);
    
    background-color: #5496bd;
}

.result-view-item-book a.book {
    background-color: #766357;
}

.result-view-item-book a:hover.book, 
.result-view-item-book a:focus.book {
    background-color: #604e43;
}

.result-view-item-book a:active.book {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.result-view-item p.result-rating {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
    
    background-color: #f2f2f2;
}




