@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-v9-latin_cyrillic-regular.woff2"),
    url("../fonts/pt-sans-v9-latin_cyrillic-regular.woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-v9-latin_cyrillic-700.woff2"),
    url("../fonts/pt-sans-v9-latin_cyrillic-700.woff");
}

body {
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    vertical-align: middle;

    font: inherit;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

    border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav {
    position: relative;

    font-size: 14px;
    line-height: 26px;
}

.header-logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    width: 138px;
    height: 70px;
}

.site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding: 15px 72px;

    list-style: none;
}

.site-link {
    width: 128px;
}

.site-nav li.site-link:first-child,
li.site-link:nth-child(2) {
    text-align: left;
}

.site-nav li.site-link:first-child {
    margin-right: 113px;
}

.site-nav li.site-link:nth-child(2) {
    margin-right: 314px;
}

.site-nav li.site-link:last-child,
li.site-link:nth-child(3) {
    text-align: right;
}

.site-nav li.site-link:last-child {
    margin-left: 117px;
}

.site-nav a {
    display: block;

    font-weight: 700;
    color: #000000;
}

.site-nav a:hover,
.site-nav a:focus {
    color: #81b3d2;
}

.site-nav a:active {
    color: #cacaca;
}

.presentation {
    min-height: 432px;
    padding-top: 77px;

    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    background-color: #b28175;
    background-position: 0 21%;
}

.presentaion-img {
    width: 458px;
    height: 352px;
    margin: auto;

    background-image: url("../img/sedona.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.reasons-header {
    position: relative;

    padding-top: 59px;
    padding-bottom: 53px;
}

.header3-town {
    font-size: 21px;
    line-height: 26px;
    text-align: center;

    width: 445px;
    margin: 0 auto;
    padding: 0;
}

.reasons-5 {
    text-align: center;
    
    width: 495px;
    margin: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.reasons-header-mask {
    position: absolute;
    top: -57px;

    width: 1200px;
    min-height: 57px;

    background-image: url("../img/mask.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    color: #ffffff;

    background-color: #81b3d2;
}

.reason-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 400px;
    padding-top: 46px;
    padding-bottom: 60px;
    padding-left: 49px;
    padding-right: 48px;

    text-align: center;
}

.header3 {
    width: 151px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 25px;

    font-size: 21px;
    line-height: 21px;
}

.reasons p,
.benefits p,
.other-reasons p {
    margin: 0;
    padding: 0;
}

.benefits .reason-item {
    padding-top: 57px;
    padding-bottom: 82px;
}

.reason-img {
    width: 800px;
    min-height: 256px;

    background-color: #b28175;
}

.town {
    background-image: url("../img/town.jpg");
    background-repeat: no-repeat;
    background-color: #758775;
    background-position: 0 54%;
}

.benefits {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.benefits .header3 {
    padding-top: 103px;
}

.header3-lodging::before {
    content: "";

    position: absolute;
    top: 59px;
    left: 162px;

    width: 75px;
    height: 72px;

    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header3-food::before {
    content: "";

    position: absolute;
    top: 61px;
    left: 561px;

    width: 74px;
    height: 70px;

    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header3-souvenirs::before {
    content: "";

    position: absolute;
    top: 55px;
    right: 167px;

    width: 64px;
    height: 76px;

    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.bridge {
    background-image: url("../img/bridge.jpg");
    background-repeat: no-repeat;
    background-color: #d78d6e;
    background-position: 0 53%;
}

.other-reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    background-color: #eeeeee;
}

.reasons .reasons-item-p,
.benefits .reasons-item-p,
.other-reasons .reasons-item-p {
    margin-top: 20px;
}

.interested-in {
    padding-top: 50px;
}

.interested-in h2 {
    width: 300px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
    padding: 0;

    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.interested-in-title {
    width: 440px;
    margin: 0;
    margin: 0 auto;
    margin-bottom: 47px;
    padding: 0;

    line-height: 24px;
    text-align: center;
}

.button-style {
    position: relative;
    width: 569px;
    margin: 0 auto;
}

.interested-in-button {
    width: 510px;
    padding: 30px;

    background-color: #766357;
}

.interested-in-button:hover,
.interested-in-button:focus {
    background-color: #604e43;
}

.interested-in-button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.modal {
    display: none;
}

.modal-show {
    display: block;
    animation: slide-right 1s;
}

.modal-error {
    animation: shake 0.6s;
}

@keyframes slide-right {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }           
    100% {
        transform: translateX(0%);
    }   
}
 
@keyframes shake {
    0%, 100% {
    transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
    transform: translateX(10px);
    }
}

.interested-in-form {
    position: absolute;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 55px;
        
    background-color: #ffffff;
}

.interested-in-item {
    position: relative;

    width: 459px;
    margin: 0;
    margin-bottom: 30px;

    font-weight: 700;
    line-height: 26px;
}

.interested-in-arrival label {
    margin-right: 19px;
}

.interested-in-leaving label {
    margin-right: 16px;
}

.interested-in-persons label {
    margin-top: 5px;
    margin-right: 40px;
}

.interested-in-persons .label-for-children {
    margin-left: 54px;
    margin-right: 25px;
}

.interested-in-item input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    width: 345px;
    min-height: 38px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 36px;

    font-weight: 700;
    line-height: 26px;

    background-color: #f2f2f2;
    border: none;
}

.interested-in-persons input {
    width: 38px;
    padding: 6px 12px;
}

.interested-in-item input::-webkit-input-placeholder {
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
}

.interested-in-item input:-ms-input-placeholder {
    min-height: 38px;
    
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
}

.interested-in-item input::-moz-placeholder {
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    
    opacity: 1;
}

.interested-in-item input:-moz-placeholder {
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    
    opacity: 1;
}

.interested-in-item input::placeholder {
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
}

.interested-in-item input:hover {
    background-color: #ebebeb;
}

.interested-in-item input:focus {
    padding-top: 4px;
    padding-bottom: 4px;
    
    outline: none;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.interested-in-form p.interested-in-persons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 0px;
}

.calendar-conteiner {
    position: absolute;
    top: 7px;
    right: 15px;
}

.calendar {
    position: relative;
    
    width: 21px;
    height: 22px;
    
    border: none;
    background: none;
    outline: none;
}

.calendar:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: block;
}

.calendar svg path {
    fill: #cacaca;
}

.calendar:hover svg path,
.calendar:focus svg path {
    fill: #000000;
}

.calendar:active svg path {
    fill: #81b3d2;
}

.button-simbol {
    width: 38px;
    margin: 0;
    padding: 0;
    padding: 6px 13px;

    color: #a9a9a9;

    background-color: #f2f2f2;
}

.button-simbol:hover,
.button-simbol:focus {
    color: #000000;
}

.button-simbol:active {
    color: #81b3d2;
}

.button-span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.button-find {
    width: 460px;
    margin-top: 53px;
    padding: 16px 140px;

    background-color: #81b3d2;
}

.button-find:hover,
.button-find:focus {
    background-color: #669ec0;
}

.button-find:active {
    color: rgba(148, 185, 210, 0.3);

    background-color: #5496bd;
}

.map-img {
    min-height: 593px;
    margin: 0;
    padding: 0;

    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-color: #cbdda9;
    background-position: 0 0;
}

.main-footer {
    margin-top: -121px;

    background-color: rgba(255, 255, 255, 0.9);
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 150px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.hashtag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 401px;
    margin: 0;
    padding: 0;
    padding-top: 47px;
    padding-bottom: 50px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 46px;
    height: 48px;

    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    color: rgba(148, 185, 210, 0.3);

    background-color: #5496bd;
}

.social-button:active svg path {
    fill: #88b6d1;
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 401px;
    margin: 0;

    line-height: 26px;
    text-align: center;
}

.copyright span {
    margin-right: 8px;
}

.html-academy-logo {
    position: relative;
    
    width: 115px;
    height: 41px;
}

.html-academy-logo:before {
    content: "";
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: block;
    width: 115px;
    height: 41px;
}

.html-academy-logo svg path {
    color: #000000;
}

.html-academy-logo:hover svg path,
.html-academy-logo:focus svg path {
    color: #81b3d2;
}

.html-academy-logo:active svg path {
    color: #bdbbbc;
}

/*стили каталога*/

.current a {
    color: #766357;
}

.filters {
    padding-top: 26px;
    padding-bottom: 31px;
    padding-left: 72px;
    padding-right: 72px;

    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    background-image: url("../img/filter_background.jpg");
    background-repeat: no-repeat;
    background-position: 0 18%;
    background-color: #6f7279;
}

.filters-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filters-form-fieldset {
    margin: 0;
    margin-right: 120px;
    padding: 0;

    border: none;
}

.filters legend {
    margin-bottom: 25px;

    font-size: 16px;
    font-weight: 700;
}

.filters ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filters li:last-child {
    margin-bottom: 0;
}

.filters-option {
    margin-bottom: 25px;
    padding-left: 37px;
}

.filters-option label {
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filters-input-checkbox:focus + label {
    outline: 2px solid #5496bd;
}

.filters-input-checkbox + label::before {
    content: "";

    position: absolute;
    top: -1px;
    left: -36px;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filters-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: -1px;
    left: -36px;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filters-input-checkbox:disabled + label {
    color: #ffffff;

    opacity: 0.5;
}

.filters-input-checkbox:checked:disabled + label {
    color: #ffffff;

    opacity: 0.5;
}

.filters-range {
    width: 330px;
    margin-left: 229px;

    color: #ffffff;
    text-transform: uppercase;
}

.filters-range-title {
    margin-left: 3px;
    margin-bottom: 9px;

    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;

    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    vertical-align: top;
    
    font-size: 14px;
    line-height: 38px;
    
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 84px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    min-height: 28px;
    margin: 0;

    font: inherit;
    color: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 30px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -11px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    width: 5px;
    height: 5px;
}

.btn-transparent {
    display: block;
    margin: 0 84px;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}

.result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 31px 72px;
}

.result-counter {
    padding: 0;
    margin: 0;
    margin-right: 50px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.result-name {
    margin: 0;
    margin-right: 38px;
    padding: 0;
    padding-top: 7px;

    font-size: 12px;
    line-height: 18px;
}

.result-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 7px;

    font-size: 12px;
    line-height: 18px;
    list-style: none;
}

.result-links li {
    margin-right: 32px;
}

.result-links a {
    color: #cacaca;

    border-bottom: 1px dotted #81b3d2;
}

.result-links a:hover,
.result-links a:focus {
    color: #81b3d2;

    border-bottom: 1px dotted #81b3d2;
}

.result-links a:active {
    color: #000000;

    border-bottom: none;
}

.result-links-current a {
    color: #81b3d2;

    border-bottom: none;
}

.rows {
    width: 37px;
    margin-left: auto;
    padding-top: 4px;
}

.rows a.result-row {
    display: inline-block;
    vertical-align: middle;
}

.result-row:hover,
.result-row:focus {
    border-top-color: #000000;
    border-bottom-color: #000000;
}

.result-row:active {
    border-top-color: #81b3d2;
    border-bottom-color: #81b3d2;
}

.row-up {
    width: 0;
    height: 0;
    margin-right: 5px;
    
    border: 7px solid transparent;
    border-bottom-color: #cacaca;
    border-top: 0;
}

.row-down {
    width: 0;
    height: 0;

    border: 7px solid transparent;
    border-top-color: #cacaca;
    border-bottom: 0;
}

.row-down-current {
    border-top-color: #81b3d2;
}

.result-view-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;

    list-style: none;
}

.result-view-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 27px 72px;

    border-bottom: 1px solid #e5e5e5;
}

.result-view-list li:first-child {
    border-top: 1px solid #e5e5e5;
}

.result-img {
    width: 135px;
    height: 90px;
    margin-top: 5px;
    margin-right: 30px;
}

.amara {
    background-image: url("../img/amara.jpg");
    background-repeat: no-repeat;
    background-color: #9c2439;
}

.desert {
    background-image: url("../img/desert.jpg");
    background-repeat: no-repeat;
    background-color: #bc9d8f;
}

.villas {
    background-image: url("../img/villas.jpg");
    background-repeat: no-repeat;
    background-color: #9eb468;
}

.header3-catalog {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;

    font-size: 21px;
    line-height: 26px;
}

.header3-catalog a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.header3-catalog a:hover,
.header3-catalog a:focus {
    color: #81b3d2;
}

.header3-catalog a:active {
    color: #cacaca;
}

.result-view-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-bottom: 12px;
}

.result-price {
    width: 144px;
}

.stars {
    position: relative;

    width: 110px;
    margin-left: auto;
}

.result-stars {
    position: absolute;
    top: 3px;
    right: -4px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 92px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.result-stars li {
    width: 23px;
    min-height: 20px;

    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.result-rating {
    width: 78px;
    margin: 0;
    margin-top: 65px;
    padding: 0;
    padding: 4px 16px;
}

.result-view-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.result-view-buttons a {
    padding: 4px 17px;

    font-size: 14px;
    line-height: 21px;
}

.result-view-buttons a.button-about {
    margin-right: 6px;

    background-color: #81b3d2;
}

.result-view-buttons a:hover.button-about,
.result-view-buttons a:focus.button-about {
    background-color: #669ec0;
}

.result-view-buttons a:active.button-about {
    color: rgba(148, 185, 210, 0.3);

    background-color: #5496bd;
}

.result-view-buttons a.button-book {
    background-color: #766357;
}

.result-view-buttons a:hover.button-book,
.result-view-buttons a:focus.button-book {
    background-color: #604e43;
}

.result-view-buttons a:active.button-book {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.result-view-item p.result-rating {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #666666;

    background-color: #f2f2f2;
}